<p>servers works!</p>
<br />
Remember Ngif with * template marker with # if and ele condition in the same double quotes
<p *ngIf="serverCreated else noServer" [innerHTML]="serverCreationStatus"></p>
<ng-template #noServer> <p>No Server Created.</p> </ng-template>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<button
  type="button"
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<br />
<p [innerText]="allowNewServer"></p>
<br />
Remember the property binding added here [disabled]="variable" innerText
property binding
<br />
<app-server></app-server>
<app-server></app-server>
