<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Hello {{ name }}</h2>
      <hr />

      Start editing to see some magic happen :)<br /><br />
      #00 Bootstrap add the css in syles array
      <a
        href="https://stackoverflow.com/questions/37649164/how-to-add-bootstrap-to-an-angular-cli-project"
        >here</a
      ><br />
      <input type="button" value="Bootsrap" class="btn btn-primary" />
      <br /><br />

      #01 Flow <br />
      index>main>app.module.ts>appcomponent.ts>app.component.html <br />
      <br />
      #02 Lets see a connected variable use ngModel and import forms<br />
      <input type="text" [(ngModel)]="surname" />
      {{ surname }}
      <br /><br />
      #03 Custom component with input and template in one component has to be
      specified in app.modue.ts and declaration and import <br />
      <hello1 name="Custom"></hello1>
      #04 Custom moponent with template url <br />
      <app-server></app-server> <br />
      #05 Created a new component with ng generate component ( g c ) servers and
      add it to app module ts dec and import
      <app-servers></app-servers>
      <br />
      #05 Selection by attribute and similarly can be done via a class
      <div hello2 name="max"></div>
      #06 Data binding <br />
      <a
        href="https://3.bp.blogspot.com/-ibq_MLPWpfM/WGytpMntQGI/AAAAAAAACB4/zTdJuSm9lXATtMpMoi__R9B_RiSJBqtzwCLcB/s1600/DataBinding.JPG"
      >
        <img
          src="https://3.bp.blogspot.com/-ibq_MLPWpfM/WGytpMntQGI/AAAAAAAACB4/zTdJuSm9lXATtMpMoi__R9B_RiSJBqtzwCLcB/s1600/DataBinding.JPG"
          width="50%"
          height="50%" /></a
      ><br />
      #07 Event binding <br />
      <hello3 name="Cat"></hello3>

      <div id="bottom">bottom</div>
    </div>
  </div>
</div>
