<h2>Hello {{ name }}</h2>
<p>
  Start editing to see some magic happen :)<br /><br />
  #000 Bootstrap add the css in syles array <a href="https://stackoverflow.com/questions/37649164/how-to-add-bootstrap-to-an-angular-cli-project">here</a><br />
  <input type="button" value="Bootsrap" class="btn btn-primary" />
  <br /><br />

  #01 Flow <br />
  index>main>app.module.ts>appcomponent.ts>app.component.html <br />
  <br />
  #02 Lets see a connected variable use ngModel and import forms<br />
  <input type="text" [(ngModel)]="surname" />
  {{ surname }}
  <br /><br />
  #03 Custom component with input and template in one component has to be
  specified in app.modue.ts and declaration and import <br />
  <hello name="Custom"></hello>
  #04 Custom moponent with template url <br />
  <app-server></app-server>

  <br />
</p>
